<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>add student info</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/statics/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/statics/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/statics/templatemo-style.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
  </head>

  <body id="reportsPage">
    <nav class="navbar navbar-expand-xl" style="background-color:rgb(100, 186, 186)">
      <div class="container h-100">

        <button
          class="navbar-toggler ml-auto mr-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto h-100">
            <li class="nav-item">
              <a class="nav-link" href="/">
              Dashboard
              
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                </i>
                <span> ADD INFO </i> </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/student-add">student info</a>
                <a class="dropdown-item" href="/school">school info</a>
                <a class="dropdown-item" href="#">admin info</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  
                  <span>
                      Query Data
                  </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/student">student data</a>
                  <a class="dropdown-item" href="/school_res">School data</a>
                  <a class="dropdown-item" href="#">General Changes</a>
              </div>
          </li>

            <li class="nav-item">
              <a class="nav-link active" href="accounts.html">
                Accounts
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link active dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            
                <span> Transfers  </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">student Transfer</a>
                <a class="dropdown-item" href="#">Teachers Transfer</a>
                <a class="dropdown-item" href="#">General Changes</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link d-block" href="login.html">
                Admin, <b>Logout</b>
              </a>
            </li>
          </ul>
         
        </div>
      </div>
    </nav>
   <style>
    
   </style>
    <div class="container mt-5">
      <button type="button" style="margin-left:50px" onclick="performance()">Academics</button>
      <button type="button" onclick="health()">Health</button>
      <button type="button" onclick="discipline()">Disciplinary</button>
      <button type="button" onclick="perf_form()">Extras</button>
      <button type="button" onclick="perf_form()">ID-gen</button>
      <button type="button" onclick="basic()">Basic Info</button>
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-products" id="ins">
            <div class="tm-product-table-container" id="main">
     
                    <h4 style="color:aqua">ADD STUDENT INFO</h1>
                  <form onsubmit="check_inp();" method="POST",action="/student-add" id="form1">
                  <input type="text" id="name" name="name" size="30" placeholder="First Name" required>
                  <input type="text" name="sname" size="30" placeholder="Sir Name" required>
                  <br><br>
                  <input type="text" name="pfname" size="30" placeholder="Parent First Name" required>
                  <input type="text" name="psname" size="30" placeholder="Parent Second Name" required>
                  <br> <br>
                  <input type="text" name="scname" size="30" placeholder="school Name" required>
                  <input type="text" name="pname" size="30" placeholder="Principal Name" required>
                  <br><br>
                  <input type="text" name="sloc" size="30" placeholder="student location" required>
                  <input type="text" name="scloc" size="30" placeholder="school Location" required>
                  <br><br>
                  <input type="text" name="county" size="30" placeholder="County" required>
                  <input type="text" name="district" size="30" placeholder="District" required>
                  <br><br>
                  <input type="date" name="dob" size="30" placeholder="date of birth">
                  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
                  <input type="date" name="doj" size="30" placeholder="date of joining">
                  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                  <input type="date" name="doe" size="30" placeholder="school est date">
                  <br><br>
                  <label style="color:aqua">birth certificate</label> &nbsp
                  <input type="file" name="bfile" size="30" accept="image/png,image/jpg,application/pdf" required>
                  <br><br>
                  <label style="color:aqua">passport Photo</label> &nbsp
                  <input type="file" name="pfile" size="30" accept="image/png,image/jpg,application/pdf" required>
                  <br> <br>
                  <label style="color:aqua">Former school id</label>
                  <input type="file" name="sidfile" accept="image/png,image/jpg,application/pdf" size="30">
                  <br> <br>
                  <label style="color:aqua">Parents ID</label> &nbsp &nbsp &nbsp &nbsp &nbsp
                  <input type="file" name="pidfile" accept="image/png,image/jpg,application/pdf" size="30" >
                  <br><br>
                  <textarea id="remarks" name="remarks" rows="7" cols="65" placeholder="Remarks"></textarea>
                  <br><br>
                  <input type="submit" value="submit" style="margin-left:250px">
                  </form>
                 
              
            
            </div>
          
            
            
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
              <h2 class="tm-block-title">student Signature</h2>
              <div class="tm-product-table-container">
                <table class="table tm-table-small tm-product-table">
                  <tbody>
                   
                    <tr>
                      <td class="tm-product-name"> </td>
                      <td class="text-center">
                        
                      </td>
                    </tr>
                    
                  
                  
                   
                    
                   
                  </tbody>
                </table>
              </div>
              
            </div>
          </div>
      </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
      <div class="col-12 font-weight-light">
      </div>
    </footer>

    <script src="/statics/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/statics/bootstrap.min.js"></script>
   
    <script>
     function check_inp(){
      var name = document.getElementById("name")
      alert("Info submitted")
     }
     function performance(){
      const elem=document.getElementById("main");
      elem.innerHTML=`
      <form method="POST" onsubmit="check_inp();" action="/student-add">
        <input type="text" name="student" size="30" placeholder="student's name" required>
        <input type="text" name="studentid" size="30" placeholder="student's Id" required>
        <br><br>
        <input type="text" name="marks" size="30" placeholder="Marks" required>
        <input type="text" name="grade" size="30" placeholder="Grade" required>
        <br><br>
        <label style="color:aqua">Academic Transcript</label> &nbsp &nbsp &nbsp &nbsp &nbsp
        <input type="file" name="tfile" accept="image/png,image/jpg,application/pdf" size="30" >
        <br><br>
        <textarea id="remarks" name="premarks" rows="7" cols="65" placeholder="Remarks"></textarea>
        <br><br>
        <input type="submit" value="submit" style="margin-left:250px">
</form>
`
         
     }
     function health(){
      const elem=document.getElementById("main");
      elem.innerHTML=`
      <form method="POST" onsubmit="check_inp();" action="/student-add">
        <input type="text" id="name" name="hname" size="30" placeholder="First Name" size="50" width="50" required>
        <input type="text" name="hsname" size="30" placeholder="Sir Name" required>
        <br><br>
        <input type="text" name="dfname" size="30" placeholder="doctor First Name" required>
        <input type="text" name="dsname" size="30" placeholder="doctor Second Name" required>
        <br><br>
        <input type="text" name="hosname" size="30" placeholder="Hospital Name" required>
        <input type="text" name="lename" size="30" placeholder="Hospital Level" required>
        <br> <br>
        <select name="gender" id="gender" style="width:42%; height:10%">
        <option value="">Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="Non-disclosed">Non-disclosure</option>
        </select>
        <input type="text" name="age" size="30" placeholder="Patient Age" required>
        <label style="color:aqua">Medical Report</label> &nbsp &nbsp &nbsp &nbsp &nbsp
        <input type="file" name="mfile" accept="image/png,image/jpg,application/pdf" size="30" >
        <br><br>
        <textarea id="remarks" name="dremarks" rows="7" cols="65" placeholder="Remarks"></textarea>
        <br><br>
        <input type="submit" value="submit" style="margin-left:250px">
</form>
`
     }
    function discipline(){
      const elem=document.getElementById("main");
      elem.innerHTML=`
      <form method="POST" onsubmit="check_inp();" action="/student-add">
        <input type="text" name="depuname" size="30" placeholder="Teacher Incharge First name" required>
        <input type="text" name="depusname" size="30" placeholder="Teacher Incharge Second name" required>
        <br><br>
        <label style="color:aqua">Displinary Report</label> &nbsp &nbsp &nbsp &nbsp &nbsp
        <input type="file" name="mfile" accept="image/png,image/jpg,application/pdf" size="30" >
        <br><br>
        <textarea id="remarks" name="dremarks" rows="7" cols="65" placeholder="Remarks"></textarea>
        <br><br>
        <input type="submit" value="submit" style="margin-left:250px">
</form>
`
    }
    function basic(){
      locatin.reload();
    }
    </script>
  </body>
</html>